<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Calculate Bill and Set new Tip" annotations="JDK">
        <classes>
            <class name="com.shopee.RunCukesTest"/>
        </classes>
    </test>
</suite>
